<_info>
	<title>Список услуг</title>
	<template>default</template>
	
	<datajson>
		{
			"columns": [
				{
					"name":"",
					"key":"image",
					"type":"image",
					"style": {
						"height":"56px",
						"margin":"auto",
						"display":"block"
					}
				},
				{
					"name":"Название",
					"key":"name"
				},
				{
					"name":"Категория",
					"key":"category"
				},
				{
					"name":"Цена",
					"key":"price"
				},
				{
					"name":"HOT!",
					"key":"is_hot"
				}
			],
			"buttons": [
				{
					"view":"text",
					"title":"Редактировать",
					"action": "href",
					"href":"./edit?id={id}"
				},
				{
					"view":"text",
					"title":"Удалить",
					"action": "remove"
				}
			]
		}
	</datajson>

	<dataphp>
		GLOBAL $DS;
		$list = $DS->list("service");
		foreach ($list as $key=>$row) {
			if (json_decode($row['is_hot'],true)) {$row['is_hot'] = "Да";} else {$row['is_hot'] = "Нет";};
			$row['category'] = $DS->get($row['category'])['name'];
			$list[$key] = $row;
		};
		return Array("list"=>$list);
	</dataphp>

</_info>

<_template>

	<div class="bgc-white bd bdrs-3 p-20 mB-20 col-md-12">
		<h4 class="c-grey-900 mB-20">{{PAGE.title}}</h4>
		<ds-table :columns="columns" :data="list" :buttons="buttons" create_link="./edit"></ds-table>
	</div>

</_template>

