<_info>
	<title>Редактор приоритета</title>
	<template>default</template>
	<dataphp>
		GLOBAL $PRIORITY;

		$res = Array(
			"priority"=>Array(
				"tag"=>"",
				"name"=>"",
				"rules"=>[]
			),

			"save_action"=>Array(
				Array(
					"type"=>"handler",
					"handler"=>"priority-update",
					"data"=>Array(
						"priority"=>'$priority'
					)
				)
			)
		);

		if ($_GET['tag']) {
			$res['priority'] = $PRIORITY->get($_GET['tag']);
		} else {
			$res['save_action'][] = Array(
				"type"=>"href",
				"href"=>"?tag={#}"
			);
		}

		return $res;
	</dataphp>

</_info>

<_template>
	<div class="col-md-12"><h4 class="c-grey-900 mB-20">{{PAGE.title}}</h4></div>

	<div class="col-md-12">
		<div class="bgc-white bd bdrs-3 p-20 mB-20">
			<h4 class="c-grey-900 mB-20">Информация</h4>

			<form-input v-if="!priority.id" label="Тег" v-model="priority.tag"></form-input>
			<div v-else class="form-group">
				<label>Тег</label>
				<input type="text" disabled readonly :value="priority.tag" class="form-control">
			</div>
			<form-input label="Название" v-model="priority.name"></form-input>

			<label>Права</label>
			<div v-if="!priority.rules.length" class="alert alert-primary">Список прав пуст. <a href="javascript:void(0)" @click="priority.rules.push('')" >Добаить правило</a>?</div>
			<div v-if="priority.rules.length" class="bgc-white bd bdrs-3 p-10 mB-20">
				<div class="row" v-for="(rule,i) in priority.rules">
					<div class="col-10"><form-input v-model="priority.rules[i]"></form-input></div>
					<div class="col-2"><button @click="priority.rules.splice(i,1)" class="btn btn-danger btn-block">Удалить <i class="fas fa-trash"></i></button></div>
				</div>
				<button class="btn btn-primary" @click="priority.rules.push('')">Добавить <i class="fas fa-plus"></i></button>
				
			</div>
			<action-btn label="Сохранить" :action="save_action"></action-btn>

		</div>
	</div>

</_template>