<_info>
	<title>Приоритеты</title>
	<template>default</template>
	<datajson>
		{
			"columns":[
				{
					"name":"Тег",
					"key":"tag"
				},
				{
					"name":"Название",
					"key":"name"
				},
				{
					"name":"Права",
					"key":"rules"
				}
			]
		}
	</datajson>
	<dataphp>
		GLOBAL $PRIORITY;
		$res = Array(
			"list" => $PRIORITY->list(),
			"buttons" => Array(
				Array(
					"view"=>"text",
					"title"=>"Редактировать",
					"action"=>"href",
					"href"=>"./priorityedit?tag={tag}"
				),
				Array(
					"view"=>"text",
					"title"=>"Удалить",
					"action"=>"remove_priority"
				)
			)
		);

		if ($res['list']) {
			foreach ($res['list'] as $key=>$item) {
				if (count($item['rules'])) {
					$res['list'][$key]['rules'] = implode(", ", $item['rules']);
				} else {
					$res['list'][$key]['rules'] = "Отсутствуют";
				};
			};
		};

		return $res;
	</dataphp>

</_info>

<_template>

	<div class="bgc-white bd bdrs-3 p-20 mB-20 col-md-12">
		<h4 class="c-grey-900 mB-20">{{PAGE.title}}</h4>
		<ds-table :columns="columns" :data="list" :buttons="buttons" create_link="./priorityedit"></ds-table>
	</div>

</_template>

