<_info>
	<title>Контактная информация</title>
	<template>default</template>
	
	<datajson>
		{
			"action_update": [
				{"type":"handler","handler":"param-update","data":{
						"name":"office_address",
						"value":"$office_address",
						"multilang":true
				}},
				{"type":"handler","handler":"param-update","data":{
						"name":"phone",
						"value":"$phone",
						"multilang":true
				}},


				{"type":"handler","handler":"param-update","data":{
						"name":"infomail",
						"value":"$infomail",
						"multilang":true
				}},
				{"type":"handler","handler":"param-update","data":{
						"name":"prmail",
						"value":"$prmail",
						"multilang":true
				}},
				{"type":"handler","handler":"param-update","data":{
						"name":"recmail",
						"value":"$recmail",
						"multilang":true
				}},


				{"type":"handler","handler":"param-update","data":{
						"name":"site_name",
						"value":"$site_name",
						"multilang":true
				}}
			]
		}
	</datajson>

	<dataphp>
		GLOBAL $PARAMS;
		$res = Array();
		
		$res["office_address"] = $PARAMS->get("office_address");
		$res["phone"] = $PARAMS->get("phone");

		$res["infomail"] = $PARAMS->get("infomail");
		$res["prmail"] = $PARAMS->get("prmail");
		$res["recmail"] = $PARAMS->get("recmail");

		$res["site_name"] = $PARAMS->get("site_name");
		return $res;
	</dataphp>

</_info>

<_template>
	<div class="col-md-12"><h4 class="c-grey-900 mB-20">{{PAGE.title}}</h4></div>
	<div class="col-md-12">
		<div class="bgc-white bd bdrs-3 p-20 mB-20">
			<h5>Информация о сайте</h5>
			<form-input label="Название сайта" v-model="site_name"></form-input>

			<h5>Контактная информация</h5>
			<form-input label="Адрес" v-model="office_address"></form-input>
			<form-input label="Телефон" v-model="phone"></form-input>
		
			<h5>Почта</h5>
			<form-input label="Основной E-Mail" v-model="infomail"></form-input>
			<form-input label="PR E-Mail" v-model="prmail"></form-input>
			<form-input label="E-Mail для сотрудничества" v-model="recmail"></form-input>

			<action-btn label="Обновить" :action="action_update"></action-btn>
		</div>
	</div>

</_template>