<_info>
	<title>Социальные сети</title>
	<template>default</template>
	
	<datajson>
		{
			"columns": [
				{
					"name":"",
					"key":"image",
					"type":"image",
					"style": {
						"max-height":"56px",
						"max-width":"56px",
						"object-fit":"contain",
						"margin":"auto",
						"display":"block"
					}
				},
				{
					"name":"Название",
					"key":"name"
				}
			],
			"buttons": [
				{
					"view":"text",
					"title":"Редактировать",
					"action": "href",
					"href":"./socedit?id={id}"
				},
				{
					"view":"text",
					"title":"Удалить",
					"action": "remove"
				}
			]
		}
	</datajson>

	<dataphp>
		GLOBAL $DS;
		$list = $DS->list("social");
		return Array("list"=>$list);
	</dataphp>

</_info>

<_template>

	<div class="bgc-white bd bdrs-3 p-20 mB-20 col-md-12">
		<h4 class="c-grey-900 mB-20">{{PAGE.title}}</h4>
		<ds-table :columns="columns" :data="list" :buttons="buttons" create_link="./socedit"></ds-table>
	</div>

</_template>

